.footer {
  width: 100%;
  height: 120px;
  background: linear-gradient(150deg, #7a0404c1, #95c0ff, #7a0404c1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: rgb(10, 9, 9);
  margin: 20px;
  margin-top: 20px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.footer p {
  color: white;
  font-size: 25px;
}
.socialMedia svg:hover {
  background-color: rgb(225, 225, 225);
  color: #121619;
  cursor: pointer;
  transition: 0.3s ease-in;
}
